<div class="loading-indicator-wrapper" *ngIf="isLoading">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>
<div class="login-container col-12 col-md-4 offset-md-4" *ngIf="!isLoading">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3 class="text-center desc">Sign In</h3>
      <div class="form-group row">
        <label for="userName" class="label col-4">User Name</label>
        <input type="text" class="form-control col-8" placeholder="Username" #userName required>
      </div>

      <div class="form-group row">
        <label for="userPassword" class="label col-4">Password</label>
        <input type="password" class="form-control col-8" placeholder="Password" #userPassword required>
      </div>

      <div class="formGroup text-center">
        <button type="button" class="btn btn-primary signin" value="Log in" (click)="authService.signIn(userName.value, userPassword.value)">Sign In</button>
      </div>
    </div>

  </div>
</div>