/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './assets/scss/variables';

.loading-indicator-wrapper {
  left: 48%;
  position: absolute;
  top: 50%;

  .mat-progress-spinner {
  
    circle {
      stroke: $blackColor;
    }
  }
}

html, body, material-app, mat-sidenav-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.no-data-found {
  border-radius: 5px;
  box-shadow: 0 0 3px 0;
  color: $blackColor;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  padding: 30px 20px;
  width: 50%;
  @media (max-width: $smWidth) {
    font-size: 16px;
    width: 80%;
  }
}

.mat-icon-button:focus {
  outline: none;
}
